.sideMenu{
    position:relative;
    display: inline-block;
    flex-direction: column;
    width: 10%;
    min-width: 110px;
    height: 100%;
    background-color: #ae3cdf;
    color: white;
}
.sideMenu header{
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.sideMenu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1px;
    
}
.sideMenu ul{

    list-style: none;
}
.sideMenu li{
    width: 100%;
    left: 0px;
    display: flex;
    align-items: flex-start;
    margin: 3px;
}

.sideMenu svg {
    margin-top: 0px;
    height: 16px;
    color: #060507;
}
.sideMenu span{
    margin-bottom: 1px ;
    padding-bottom: 10px;
    height: 20px;
}
.sideMenu a{
    color: white;
    text-decoration: none;
}

.active {
    color :#4a0766;
    border-left-style: solid;
    border-left-color: #07010a;
}

